div.scrumprogress {
	float: left;
	text-align: center;
	border: 1px dotted gray;
}

div.scrumtimeleft {
	float: right;
	text-align: center;
	border: 1px dotted gray;
}

td.scrumcolumn {
	/* width: 200px; */
	padding: 4px;
	vertical-align: top;
}

td.scrumcolumn hr {
	clear: both;
	border: 0;
	border-bottom: 1px dotted #aaa;
	height: 6px;
}

div.scrumblock {
	/* display: inline-block; */
	float: left;
	width: 186px;
	margin: 4px;

	background: #FAF3AA;
	border: 1px solid black;

	text-align: center;
	overflow: hidden;
}

div.scrumblock p {
	margin: 3px;
}

div.scrumblock p.bugid {
	float: left;
	color: blue;
}

div.scrumblock p.commits {
	float: right;
	color: black;
}

div.scrumblock p.category {
	font-weight: bold;
}

div.scrumblock p.summary {
	clear: both;
	width: 100%;
	height: 7em;
	border-top: 1px solid #e7df8a;
	padding-top: 3px;
	text-align: left;
	overflow: hidden;
}
